.containerHome{
    
    height: 100vh;
    background: linear-gradient(245.9deg, #FF8312 82.65%, rgba(245, 194, 147, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.subcontainerHome{
    width: 1050px;
    height: 600px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    // border: solid chartreuse;
}
.navBar {
    // border: solid rgb(206, 78, 5);
    flex: 1;
    overflow: hidden;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-family: $primaryFont;
}
.ulHomeScreen{
    list-style-type: none;
    margin: 3%;
    padding: 0;
    float: right;
}
.liHomeScreen{
    display: inline;
    margin: 50px;
}

.phraseMark{
    // border: solid rgb(5, 42, 206);
    flex: 7 1;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

.text1{
    // border: solid rgb(206, 5, 156);
    font-size: 64px;
    font-family: $secundaryFont;
    letter-spacing: 0.17em;
}
.text2{
    // border: solid rgb(5, 206, 5);
    font-size: 48px;
    font-family: $primaryFont;
    letter-spacing: 0.17em;
}

// Responsive design


@media only screen and (max-width:700px) {
    /* For mobile phones: */
    
    // Estoy quitando los ul para dejar el menuHam
    .ulHomeScreen{
        display: none;
    }

 
  }

