.containerHome{
    
    height: 100vh;
    background: linear-gradient(245.9deg, #FF8312 82.65%, rgba(245, 194, 147, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.subcontainerHome{
    width: 1050px;
    height: 600px;
    background-color: #161514;
    border-radius: 60px;
    background-image: url('https://i.ibb.co/PhjrLzY/Back-With-Img.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navBar {
    
    flex: 1;
    overflow: hidden;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-family: $primaryFont;
}
ul{
    list-style-type: none;
    margin: 3%;
    padding: 0;
    float: right;
}
li{
    display: inline;
    margin: 50px;
}

.phraseMark{
    
    flex: 7 1;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

.text1{
    font-size: 64px;
    font-family: $secundaryFont;
    letter-spacing: 0.17em;
}
.text2{
    font-size: 48px;
    font-family: $primaryFont;
    letter-spacing: 0.17em;
}